@import 'variables';
@import 'markdown';

.page {
  background: #e9eaed;
}

.vr-panel {
  text-align: left;

  .panel-heading {
    background: #fafafa;
    padding: 6px 15px;
    border-bottom-color: #eee;
    color: #777;
  }
}

.avatar {
  text-align: center;

  img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    border-radius: 120px;
  }
}

.topic {
  min-height: 68px;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px 15px;
  margin: 0 -15px;
  vertical-align: top;

  a {
    text-decoration: none;
  }


  .count {
    padding-top: 15px;

    > a {
      background-color: #CFD3E6;
      color: #FFF;
      line-height: 11px;
      text-align: center;
      border-radius: 80px;
      padding: 3px 8px 3px 8px;
      display: inline-block;
    }
  }

  .title {
    font-size: 15px;

    .node {
      color: #777;
      margin-right: 3px;
    }

    a {
      color: #222;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .info {
    color: #ABA8A6;
    font-size: 12px;
    margin-top: 0;

    a {
      color: inherit;
    }
  }
}

.item-list {
  padding: 0 15px;
}

.vr-group {
  a {
    color: #222;
    font-weight: 400;
    line-height: 20px;
  }
}

.vr-nav {
  background-color: $vr-white;
}

.rc-navbar-brand b {
  color: $vr-orange;
}

.router-link-active {
  color: $vr-orange !important;
  border-bottom: 3px solid $vr-orange;
}

.root-router {
  color: $vr-gray !important;
  border-bottom: 3px solid $vr-white;
  font-weight: bold;
}

.pagination {
  margin: 0 0;
}
